<div class="layout_padding col-lg-6 col-md-6 col-sm-12">
    <div >
        <form class="login_form" [formGroup]="facultyRef" (ngSubmit)="signUp()">
           <fieldset>
            <legend>Faculty Account Create</legend>
               <div class="full field">
                  <input type="text" placeholder="First Name" formControlName="fname" />
               </div>

               <div class="full field">
                    <input type="text" placeholder="Last Name" formControlName="lname" />
                </div>
                <div class="gender">
                    <input type="radio" formControlName="gender" value="male"/>Male
                    <input type="radio" formControlName="gender" value="female"/>Female

                </div>
                <div class="full field">
                <textarea formControlName="technologies" placeholder="Write technologies separated by ," cols="10" rows="3"></textarea>
                </div>
                <div class="full field">
                    <input type="text" placeholder="phone number" formControlName="phonenumber" />
                </div>
                <div class="full field">
                    <input type="emailid" placeholder="EmailId" name="emailid" formControlName="emailid"/>
                 </div> 
               <div class="full field">
                  <input type="password" placeholder="Password" name="password" formControlName="password"/>
               </div>
               
               <div class="button">
                  <input type="submit" value="SignUp" class="btn btn-outline-secondary"/>
                  <input type="reset" value="Reset" class="btn btn-outline-secondary"/>
               </div>
           </fieldset>
        </form>
         <a routerLink="/login">SignIn</a><br/>
         <span style="color:red">{{msg}}</span>
    </div>
 </div>