<div class="layout_padding col-lg-6 col-md-6 col-sm-12">
    <div >
        <form>
           <fieldset>
               <div class="button">
                  <input type="button" value="Faculty SignUp" class="btn btn-outline-secondary" (click)="facultySignUp()"/>
                  <input type="button" value="Student SignUp" class="btn btn-outline-secondary" (click)="studentSignUp()"/>
               </div>
           </fieldset>
        </form>
         <a routerLink="/login">SignIn</a>
    </div>
 </div>