<div class="layout_padding col-lg-6 col-md-6 col-sm-12">
    <div >
        <form class="login_form" (ngSubmit)="changePassword()">
           <fieldset>
            <legend>Change Password</legend>
               <div class="full field">
                  <input type="email" placeholder="Email Address" name="emailid" [(ngModel)]="emailid" readonly/>
               </div>
            
               <div class="full field">
                    <input type="password" placeholder="Old Password" name="oldPassword" [(ngModel)]="oldPassword" (keyup)="oldPasswordChange()"/>
                    <span style="color:red">{{oldPasswordMsg}}</span>
                </div>

                <div class="full field">
                    <input type="text" placeholder="New Password" name="newPassword" [(ngModel)]="newPassword" (keyup)="newPasswordChange()"/>
                    <span style="color:red">{{newPasswordMsg}}</span>
                 </div>

               <div class="button">
                  <input type="submit" value="Change Password" class="btn btn-outline-secondary"/>
                  <input type="reset" value="Reset" class="btn btn-outline-secondary"/>
               </div>
           </fieldset>
        </form>
         <a routerLink="/SignUp">SignUp</a><br/>
         <span style="color:red">{{msg}}</span>
    </div>
 </div>