<div>
   <div class="row">
      <div class="layout_padding col-lg-6 col-md-6 col-sm-12">
        <form class="addcourse_form" [formGroup]="courseRef" (ngSubmit)="addCourse()">
           <fieldset>
            <legend>Add Course Details</legend>
               <div>
                  <input type="text" placeholder="Course Name" formControlName="coursename" />
               </div>
              
                <div formArrayName="chapters">
                    <div *ngFor="let chapter of chapters.controls; let i = index">
                      <ng-container [formGroupName]="i"> 
                     
                      <input type="number" placeholder="ChapterNumber" formControlName="chapterNumber">
                      <input type="input" placeholder="Topic Name" formControlName="topic">
                      <input placeholder="Topic Content" formControlName="topicContents"/>
                      <span class="remove" (click)="removeUser(i)" style="font-size: 30pt;">x</span>
                     
                      </ng-container>
                      </div>
                   </div> 
          
               <input type="button" class="btn btn-outline-secondary" (click)="addChapter()" value="Add Chapter"/>
               <div class="button">
                  <input type="submit" value="Store Course" class="btn btn-outline-secondary"/>
                  <input type="reset" value="Reset" class="btn btn-outline-secondary"/>
               </div>
           </fieldset>
        </form>
        <span style="color:red">{{message}}</span>
      </div>
      <div class="layout_padding col-lg-6 col-md-6 col-sm-12">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQe1ktZPr31IFYQwwFNKGXuHFlBHasr5un8OA&usqp=CAU" height="540px" width="800px"/>
      </div>
      </div>
 </div>